/*No body precisariamos de uma fonte especifíca usada no canva, que baixamos da internet e importamos no aquivo*/
@font-face {
  font-family: fonte1;
  src: url(Fontes/fontelight.ttf);
}

@font-face {
  font-family: fonteG;
  src: url(Fontes/fonteG.ttf);
}

/*-----------------------------------CABEÇALHO - TELEFONE --------------------------------------------------*/

/*Para o cabeçalho em si escolhemos o design*/
.cabeçalho-tel {
  background-color: rgb(187, 230, 247);
  color: rgb(19, 19, 19);
  text-align: center;
  position: relative;
  /*Para adicionar a imagem em cima do nosso h1 teho que adiconar essa função*/
}

/*Vi que para uma imagem ficar lado a lado do texto deve-se usar o flex, e podemos alinha-los no centro, imagem + telefone*/
.cabeçalho-tel-atributos {
  display: flex;
  justify-content: center;
  /* Alinhar os itens horizontalmente */
  align-items: center;
  /*a imagem e o texto ficarem no centro*/
}

.icone-tel {
  height: 25px;
  /* Ajustar o tamanho do ícone */
  margin-right: 10px;
  /* Espaçamento entre o ícone e o texto */
}

/*ICONE ACESSIBILIDADE*/
.icone-acessibilidade {
  height: auto;
  width: 4cm;
  position: absolute;
  /* Aqui sem esse comando iria ficar em baixo dos numeros*/
  top: 50%;
  /* Posiciona o ícone a partir do topo do cabeçalho do telefone */
  right: 30px;
  /* Distância do ícone até a borda direita do cabeçalho */
  transform: translateY(-50%);
  /* Centraliza verticalmente o ícone */
}

.numero-tel {
  font-size: 15px;
  /* Ajustar o tamanho do texto */
}

/*-----------------------------------------CABEÇALHO - GERAL----------------------------------------------*/
.cabeçalho-geral {
  display: flex;
  justify-content: left;
  /* Alinhar os itens horizontalmente */
  align-items: center;
  /*a imagem e o texto ficarem no centro*/
}

/*ICONE DA LOGO DA ESCOLA*/
.icone-escola {
  height: auto;
  width: 200px;
  margin-right: 5px;
}

table {
  border-spacing: 5px;
  /* Espaçamento entre as células */
  text-align: center;
  margin: auto;
  /* Centralize a tabela horizontalmente */
  letter-spacing: 1px;
  width: 100%;
  font-size: 15px;
}

hr {
  margin-top: 0;
  margin-bottom: 0px;
}

/*ICONES DAS AREAS DE ACESSO ALUNO E PROFESSOR*/
.icone-acesso {
  height: auto;
  width: 99px;
}

.icone-professor {
  height: auto;
  width: 125px;
}

/*-------------------------------INICIO DA ESTRUTURA DO SITE-----------------------------------------*/

/* ALTEREI AQUI*/
.conteudo-container {
  display: flex;
  margin: 2rem;
  gap: 40px;
}

.div-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

/* ATÉ AQUI*/

.bloco1-azul {
  background-color: rgb(36, 35, 114);
  color: white;
  padding: 50px;
  width: 500px;
  height: 200px;
  border-radius: 10px;
}

.bloco2-amarelo {
  background-color: #ffd750;
  padding: 20px;
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.icone-escola-amarelo {
  width: 100%;
  height: auto;
}

.bloco3-azul {
  background-color: #021338;
  padding: 20px;
  width: 150px;
  height: auto;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.bloco-em-baixo {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.alunos-estudando {
  display: flex;
  align-items: center;
}

/* ALTEREI AQUI*/
.alunos-estudando img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: fonteG;
}

p {
  font-family: fonte1;
}

.backgroundArea {
  background-color: #f8f8f8;
}

.imgArea {
  margin: 0 auto;
  display: block;
  width: 200px;
}

.h1Area {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-family: fonte1;
}

.buttonArea {
  background-color: #146cac;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  justify-content: center;
}

.labelArea {
  font-family: fonteG;
  font-size: 20px;
  margin: 15px 10px 5px 0px;
}

.containerArea {
  width: 25%;
  margin: 15px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inputArea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
  font-family: fonteG;
  font-size: 20px;
}

.linha-azul {
  border: none;
  height: 2px;
  background-color: #546494;
  width: 400px;
  margin-top: 5px;
}

.linkArea {
  font-family: fonteG;
}

.containerArea2 {
  display: flex;
  flex-direction: row;
}

.imgAreaProfessor{
  margin: 0 auto;
  display: block;
}
